
.header {
  background-color: red; /* Mudando para vermelho */
  color: white; /* Texto branco */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

