.header {
  background-color: #d32f2f; /* Vermelho mais elegante */
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espaço entre logo e informações do usuário */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.user-info span {
  margin-right: 10px; /* Espaçamento entre nome do usuário e sessão */
}

.logout-button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.logout-button:hover {
  background-color: white;
  color: #d32f2f;
}
