/* src/components/Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('C:\Users\EDUARDO\Desktop\hoje\newSystemEleicFront\src\assets\logo_2.png'); /* Substitua pelo caminho da sua imagem */
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 20px; /* Adicionado para evitar que o conteúdo grude nas bordas */
}

.login-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 0, 0, 0.5); /* Vermelho fumaça */
  z-index: 1;
}

.login-form {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  margin: auto; /* Centraliza horizontalmente */
}

.form-title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  color: #333;
}

.login-form input,
.login-form button,
.login-form select {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid red;
  border-radius: 4px;
  font-size: 14px;
}

.login-form button {
  background-color: red;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: darkred;
}
