/* src/components/Login.css */

/* Estilo global para o corpo da página */
body {
    margin: 0; /* Remove a margem padrão do corpo */
    
  }
  
  /* Container do Login */
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/src/assets/logo.png'); /* Adicione o caminho para sua logo */
    background-size: 25%; /* Reduz a imagem de fundo para 25% do tamanho original */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-position: center; /* Centraliza a imagem */
    position: relative; /* Para poder usar a logo como fundo */
  }
  
  /* Formulário de Login */
  .login-form {
    background-color: rgba(255, 0, 0, 0.7); /* Fundo vermelho com 70% de opacidade */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 300px; /* Largura do formulário */
    position: relative; /* Para garantir que o fundo vermelho seja bem colocado */
    z-index: 1; /* Garante que o formulário fique acima da logo */
  }
  
  /* Estilo do título do formulário */
  .login-title {
    margin-bottom: 20px;
    color: #fff; /* Cor do título (branco) para melhor contraste */
    text-align: center;
  }
  
  /* Estilo dos inputs e botão do formulário */
  .login-form input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid red; /* Borda vermelha */
    border-radius: 4px; /* Bordas arredondadas */
    width: 100%; /* Largura total */
  }
  
  .login-form button {
    background-color: red; /* Fundo vermelho do botão */
    color: white; /* Texto do botão branco */
    padding: 10px;
    border: none; /* Remove a borda padrão */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor para indicar interatividade */
    width: 100%; /* Largura total */
  }
  