/* src/components/Sidebar.css */
.sidebar {
  width: 200px; /* Largura fixa do sidebar */
  background-color: #2c2c2c; /* Cinza escuro */
  color: white; /* Cor do texto */
  padding: 20px; /* Espaçamento interno */
  height: 100vh; /* Ocupa a altura total da janela */
  display: flex; /* Flexbox para permitir o alinhamento */
  flex-direction: column; /* Alinha os itens na coluna */
}

.logo {
  width: 100%; /* Largura da logo ocupa toda a largura do sidebar */
  height: auto; /* Mantém a proporção da imagem */
  margin-bottom: 20px; /* Espaço abaixo da logo */
}

.sidebar h3 {
  margin: 10px 0; /* Espaçamento em torno dos títulos */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  color: #ffffff; /* Cor dos títulos */
  display: flex; /* Flexbox para permitir alinhamento de ícones */
  align-items: center; /* Alinha os ícones e texto verticalmente */
  font-size: 16px; /* Tamanho da fonte dos títulos */
  text-align: left; /* Alinha os títulos à esquerda */
}

.sidebar h3:hover {
  color: #f0a500; /* Muda a cor ao passar o mouse */
}

.sidebar ul {
  list-style-type: none; /* Remove marcadores da lista */
  padding-left: 10px; /* Espaçamento à esquerda */
  margin: 0; /* Remove margens */
}

.sidebar ul li {
  margin: 5px 0; /* Espaçamento entre itens da lista */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  color: #b3b3b3; /* Cor padrão dos itens da lista */
  font-size: 14px; /* Tamanho da fonte dos itens da lista */
  text-align: left; /* Alinha os itens à esquerda */
}

.sidebar ul li:hover {
  color: #ffffff; /* Muda a cor ao passar o mouse */
}

.sidebar ul li a {
  text-decoration: none; /* Remove sublinhado dos links */
  color: #b3b3b3; /* Cor padrão dos links */
  display: block; /* Garante que o link ocupe toda a largura do item da lista */
  padding: 5px 0; /* Adiciona espaçamento interno aos links */
  font-size: 14px; /* Tamanho da fonte dos links */
  text-align: left; /* Alinha os links à esquerda */
}

.sidebar ul li a:hover {
  color: #ffffff; /* Muda a cor dos links ao passar o mouse */
}

.sidebar ul li a:visited {
  color: #b3b3b3; /* Garante que a cor dos links não mude para azul após o clique */
}

.sidebar ul li a:active {
  color: #ffffff; /* Cor durante o clique */
}

.expand-icon {
  margin-right: 10px; /* Espaço à direita dos ícones de expansão */
  transition: transform 0.3s ease; /* Transição suave ao girar ícones */
}

.expand-icon.collapsed {
  transform: rotate(-90deg); /* Gira o ícone ao colapsar */
}
